<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head.ejs') %>
    <title>Create New Player</title>
  </head>
  <body>
    <div class="container mt-5">
      <h3>Create New Player</h3>
      <a href="/players">Back to Players List</a>
      <div class="row">
        <div class="col-7">
          <form method="POST" action="/players/create" class="mt-5">
            <div class="form-group">
              <label for="exampleInputUsername1">Username</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputUsername1"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                name="email"
              />
            </div>
            <button type="submit" class="btn btn-outline-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>