<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head.ejs') %>
    <title>Delete</title>
  </head>
  <body>
    <div class="container mt-5">
      <h5>Deleted! <br /><a href="/players">Back to Players list</a></h5>
    </div>
  </body>
</html>