<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head.ejs') %>
    <title>Delete</title>
  </head>
  <body>
    <div class="container mt-5">
      <h5>
        Updated! <br /><a href="/players">Back to Players list</a> <br /><a
          href="/players/<%= id %>"
          >Back to Player Detail</a
        >
      </h5>
    </div>
  </body>
</html>